body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 100px;
    height: 100px;
    background-color: ;
}

.banana {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
}

.inline-demo{
    border: 2px solid black;
    padding: 4px;
}

.cool-text {
    font-weight: 900;
    font-size: 20px;
}

.block-demo{
    background: green;
}

.field{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.form{
    width: 500px;
    margin: auto;
    margin-buttom: 200px; 
}

.col {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (width >= 700px){
    .col{
        background-color: greenyellow;
    }
}